@use '../utils' as *;

/*----------------------------------------*/
/*  2.4 Preloader
/*----------------------------------------*/
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: center;
    background: var(--tp-theme-primary);
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#6de767 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#6de767);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }