@use '../utils' as *;
/*---------------------------------
    1.1 Common Classes
---------------------------------*/

.w-img{
	& img{
		width: 100%;
	}
}

.m-img{
	& img{
		max-width: 100%;
	}
}
.hover-text-white{
	&:hover{
		color: var(--tp-common-white);
	}
}
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}
.z-index-m-1{
	z-index: -1;
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.p-inherit{
	position: inherit!important;
}
.bg-position{
	@include background();
}

.tp-transfrom{
	transform: translateY(-1px)!important;
}
// border-redius
.tp-round-10{
	border-radius: 10px;
}
.tp-round-4{
	border-radius: 4px;
}
// border-redius
.lh-0{
	line-height: 0;
}
.lh-22{
	line-height: 22px;
}

.lh-110-per{
	line-height: 1.1;
}

// latter-spacing
.ls-0{
	letter-spacing: 0;
}

// latter-spacing-meinus
.ls-m-1{
	letter-spacing: -0.01em;
}


// default-border-style

.border-full{
	border: 1px solid rgba(255, 255, 255, 0.08);
}
.tp-transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}
.slide-transtion {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.underline-black{
	@include bgborder(#0f0f0f, 0,0);
	@include transition(all .4s ease);
	&:hover{
			@include bgborder(#0f0f0f, 0,100%);
			@include transition(all .4s ease);
	}
}
.underline-white{
	@include bgborder(#d2d2d2, 0,0);
	@include transition(all .4s ease);
	&:hover{
			@include bgborder(#d2d2d2, 0,100%);
			@include transition(all .4s ease);
	}
}
.underline-green{
	@include bgborder(#6de767, 0,0);
	@include transition(all .4s ease);
	&:hover{
			@include bgborder(#6de767, 0,100%);
			@include transition(all .4s ease);
	}
}