@use '../../utils' as *;

/*----------------------------------------*/
/*  6.2 contact start
/*----------------------------------------*/

.#{$theme-prifix}-contact{
    &-form{
        &-wrap{
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            backdrop-filter: blur(40px);
            background: linear-gradient(119deg, rgb(255 255 255 / 5%) 0%, rgba(255, 255, 255, 0.11) 100%);
            padding: 67px 78px 78px 78px;
            @media #{$sm,$xs} {
                padding: 40px 20px 20px 20px;
            }
        }
        &-title{
            font-weight: 500;
            font-size: 50px;
            letter-spacing: -0.02em;
            color: var(--tp-common-white);
            text-align: center;
            & span{
                color: #6de767;
            }
            @media #{$xs} {
                font-size: 30px;
            }
        }
        &-main{
            &-title{
                font-weight: 500;
                font-size: 36px;
                letter-spacing: -0.02em;
                color: var(--tp-common-white);
                & span{
                    color: #6de767;
                }
            }
        }
        &-input{
            & .input{
                font-weight: 400;
                font-size: 14px;
                color: var(--tp-common-white);
                backdrop-filter: blur(40px);
                background: linear-gradient(329deg, rgba(0, 0, 0, 0.75) 0%, rgb(78 78 78 / 81%) 100%);
                border: none;
                height: 52px;
                padding: 25px 30px;
                &::placeholder{
                    color: var(--tp-common-white);
                }
            }
            & .textarea{
                height: 160px;
            }
        }
        &-btn{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.02em;
            color: var(--tp-theme-primary);
            padding: 13px 20px;
            background: var(--tp-common-white);
            width: 100%;
            border-radius: 4px;
            &:hover{
                background: var(--tp-theme-primary);
                color: var(--tp-common-white);
            }
        }
        &-main{
            &-wrap{
                padding: 52px 60px 60px 60px;
                backdrop-filter: blur(10px);
                @media #{$sm,$xs} {
                    padding: 40px 20px 20px 20px;
                }
            }
        }
        &-location{
            &-item{
                display: flex;
                align-items: center;
                & span{
                    backdrop-filter: blur(40px);
                    background: linear-gradient(28deg, rgba(0, 0, 0, 0.38) 0%, rgba(255, 255, 255, 0.11) 100%);
                    border-radius: 30px;
                    width: 60px;
                    height: 60px;
                    display: inline-block;
                    line-height: 60px;
                    transition: all 0.4s ease;
                    text-align: center;
                    flex:  0 0 auto;
                    margin-right: 20px;
                }
                & p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--tp-common-white);
                    margin-bottom: 0;

                }
                & a{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--tp-common-white);
                    display: block;
                    &:hover{
                        color: var(--tp-theme-secondary);
                    }
                }
            }
        }
    }        
}